section.mainBanner
  .mainBanner__backgrounds
    .mainBanner__background(style='background-image: url(/images/main-banner/banner-1.png);')
    .mainBanner__background(style='background-image: url(/images/main-banner/banner-2.png);')
    .mainBanner__background(style='background-image: url(/images/main-banner/banner-3.png);')
    .mainBanner__background(style='background-image: url(/images/main-banner/banner-4.png);')

  .container
    h1.mainBanner__caption What do people
      br
      | think of
      br
      | StoxMarket?

    .mainBanner__testimonials
      include ../testimonial/testimonial

    .mainBanner__form

