.testimonial
  padding 1rem 1rem 2rem
  color #fff
  &:before
    content ''
    display block
    float left
    width 2.4rem
    height @width
    margin-right 2rem
    background url(/images/quotes.png) center / 100% auto no-repeat
  &__comment
    margin 0
    padding-top 1rem
    font-size 0.875rem
    font-weight 300
    line-height 1.5rem
  &__highlight
    color #fcc508
    &_bold
      font-size 1.25rem
      font-weight 400
      vertical-align bottom
  &__commentator
    display inline-block
    margin 0
    padding-top 1.75rem
  &__name
    font-size 1.125rem
    line-height 1.875rem
  //&__position

