doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='./css/style.css')
    script(defer src='./js/bundle.js')
    title STOX Market | Making trading simple

  body.page
    include ./components/main-header/main-header
    include components/sections/main-banner/main-banner
    include components/sections/intro-steps/intro-steps
    include components/sections/why-us/why-us
